trigger:
  branches:
    include:
      - main

pool:
  name: 'local-lab'
  vmImage: 'ubuntu-latest'

resources:
  pipelines:
    - pipeline: cluster-base
      source: ParksBra.home-k8s-cluster-base
    - pipeline: platform
      source: ParksBra.home-k8s-platform

  repositories:
    - repository: templates
      type: github
      endpoint: ParksBra
      ref: initial_development
      name: ParksBra/home-k8s-ado-templates

    - repository: terraform-platform-network
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-network

    - repository: terraform-platform-storage
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-storage

stages:
  - stage: "serviceK8sdashDeployment"
    displayName: "Kubernetes Dashboard Service Deployment"
    variables:
      - group: home-k8s-cluster
      - group: home-k8s-terraform
    jobs:
      - template: apply-terraform.yml@templates
        parameters:
          kubeconfigArtifactName: "kubeconfigFile"
          kubeconfigArtifactSourcePipeline: "cluster-base"
          terraformPlatformRepository: "self"
          terraformPlatformRepositoryTerraformPath: "terraform"
          terraformVersion: "latest"
          terraformBackendNamespace: "kube-system"
          terraformBackendSuffix: "service-k8sdash"
          terraformExtraEnvironmentVariables:
            TF_VAR_azuredevops_library_name: "home-k8s-cluster"
            TF_VAR_azuredevops_library_project_id: "$(System.TeamProjectId)"
            AZDO_PERSONAL_ACCESS_TOKEN: $(System.AccessToken)
            AZDO_ORG_SERVICE_URL: $(System.TeamFoundationCollectionUri)
            CLOUDFLARE_API_TOKEN: $(home-k8s-terraform-provider-cloudflare-api-token)
          terraformPlanDestroy: false
          terraformApply: true
